html {
    background-image: url("../img/burgers.jpg");
}

body {
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%,rgb(204, 229, 255) 50%, rgb(204, 229, 255) 100%);
    border-color: black;
    border-style: solid;
    border-width: 0px 2px;
    margin: auto;
    min-height: 100vh;
    text-align: center;
    width: 800px;
}

header {
    background-color: white;
    box-shadow: 0px 2px 5px rgb(102, 102, 102);
}

header h1,
header p {
    margin: 0px;
    padding: 10px;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 40px;
}

h3 {
    background-color: white;
    border-radius: 10px;
    font-size: 25px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 5px;
}

.recipeimg {
    border-radius: 10px;
}

p {
    font-size: 20px;
}

span {
    margin: 10px;
    padding: 20px;
}

ul {
    margin-left: 100px;
    margin-right: 100px;
    margin: 10px;
    padding: 0px;
}

ul li {
    list-style: none;
}

li {
    margin: 10px;
}

.homelist {
    background-color: rgb(255, 166, 0);
    border-radius: 10px;
    font-size: 40px;
}

.homelist a {
    color: rgb(41, 41, 41);
}

.homelist a:hover {
    color: rgb(83, 83, 83);
}

.recipe {
    font-size: 20px;
}

.steps {
    margin: 10px;
    text-align: left;
}

ol {
    background: rgb(204, 229, 255);
    padding: 20px;
}

ol li {
    background: white;
    padding: 5px;
}

.foot {
    margin: 0px;
    padding: 10px;
}